<h1>BURGER APP</h1>
<img class="burgerImg" src="assets/img/burger3.png" alt="Burger">

<div class="clearfix">
<ul class="left">
    <h2>Burgers</h2>
  {{#each burger}}
    {{#unless devoured}}
      <li>{{this.burger_name}}</li>
      <button class="devour" data-id="{{this.id}}">
		Devour
	</button>
    {{/unless}}
  {{/each}}
</ul>

<ul class="right">
    <h2>Devoured</h2>
  {{#each burger}}
    {{#if devoured}}
      <li class="dev">{{this.burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>
</div>



<h2>Add a Burger</h2>


<textarea type="text" class="input" name="burger"></textarea>
  <div>
    <button class="submit" type="submit">Submit</button>
  </div>

