body {
    text-align: center;
    background-color: rgb(252, 211, 99);
}

h2 {
    color: rgb(204, 85, 85);
    font-size: 35px;
}

.left {
    float: left;
    width: auto;
    margin-left: 25%;
    font-size: 25px;
    font-weight: bold;
}

.right {
    float: right;
    width: auto;
    margin-right: 25%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .dev {
    text-decoration: line-through;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.5;
  }

  .submit {
      width: 182px;
  }

   h1 {
       font-size: 50px;
   }

   .burgerImg {
       height: 400px;
       width: 600px;
   }